div
  ul
    li
      input(type='checkbox', name='vehicle', value='Bike')
      i Todas las estellas
    li
      input(type='checkbox', name='vehicle', value='Bike')
      i(class="fa fa fa-star" aria-hidden="true")
    li
      input(type='checkbox', name='vehicle', value='Bike')
      i(class="fa fa fa-star" aria-hidden="true")
      i(class="fa fa fa-star" aria-hidden="true")
    li
      input(type='checkbox', name='vehicle', value='Bike')
      i(class="fa fa fa-star" aria-hidden="true")
      i(class="fa fa fa-star" aria-hidden="true")
      i(class="fa fa fa-star" aria-hidden="true")
    li
      input(type='checkbox', name='vehicle', value='Bike')
      i(class="fa fa fa-star" aria-hidden="true")
      i(class="fa fa fa-star" aria-hidden="true")
      i(class="fa fa fa-star" aria-hidden="true")
      i(class="fa fa fa-star" aria-hidden="true")
      
