div.slider
    ul.item-ctn
        li(ng-repeat="slide in $ctrl.items track by $index")
            img(ng-src="{{slide}}" ng-show="$ctrl.currentIndex == $index")
    ul.nav-ctn
        li(ng-click="$ctrl.prev()") prev
        li(ng-click="$ctrl.next()") next
