div.slider
    ul.item-ctn
        li(ng-repeat="slide in $ctrl.items track by $index")
            div.imagenBackground(ng-style="{'background-image':'url({{$ctrl.items[$ctrl.currentIndex]}})'}")
    ul.nav-ctn
        li.next(ng-click="$ctrl.prev()") &laquo;
        li.prev(ng-click="$ctrl.next()") &raquo;  
